{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cooking Blog</title>
  <!-- Favicon -->
  <link href="{% static 'assets/img/brand/favicon.png' %}" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="{% static 'assets/css/argon.css' %}" rel="stylesheet">
  <!-- Docs CSS -->
  <link type="text/css" href="{% static 'assets/css/docs.min.css' %}" rel="stylesheet">
</head>

<body>
  <header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light">
      <div class="container">
        <a class="navbar-brand mr-lg-5" href="{% url 'recipeblog:mainIndex' %}">
          <img src="/static/assets/img/brand/white.png" style="height: 8em;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="{% url 'recipeblog:mainIndex' %}">
                  <img src="/static/assets/img/brand/blue.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li class="nav-item dropdown">
              <a href="{% url 'recipeblog:index' %}"><button class="btn btn-1 btn-outline-primary" type="button" style="border-color: transparent; color: lightgrey;">Recipe Blog</button></a>
            </li>
            <li class="nav-item dropdown">
              <button class="btn btn-1 btn-outline-primary" type="button" style="border-color: transparent; color: lightgrey;">Nutrition</button>
            </li>
          </ul>
          <ul class="navbar-nav align-items-lg-center ml-lg-auto">            
            <!-- Sign Up -->
            <li class="nav-item d-none d-lg-block ml-lg-4">
              <a href="#" target="_blank" class="btn btn-neutral btn-icon">
                <span class="nav-link-inner--text">Sign Up</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main style="height: 9em;">
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section-shaped my-0">
        <div class="shape shape-style-1 shape-default shape-skew">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container shape-container d-flex" style="height: 10px;">
        </div>
      </section>
  </main>
    <section class="section section-components">
      <div class="container">
        <h2 class="mt-lg mb-5">
          {% if title %}
          <span>{{title}}</span>
          {% endif %}
        </h2>
        <div class="row py-3 align-items-center">
          <div class="col-sm-3">
            {% if picture %}
            <small class="text-uppercase text-muted font-weight-bold"><img src="{{picture}}" style="width: 100%;"></small>
            {% endif %}
          </div>
          <div class="col-sm-9">
            {% if postedBy %}
            <h5 class="mb-0" style="color: black;">Made by {{postedBy}}&emsp;&emsp;&emsp;&nbsp;</h5>
            {% endif %}
            {% if datePosted %}
            <h5 class="mb-0" style="color: black;">{{datePosted}}</h5>
            {% endif %}
            <h5 class="mb-0" style="color: black;">Ingredients:</h5>
            {% if ingredients %}
            <ul>
              {% for ingredient in ingredients %}
              <li>{{ingredient}}</li>
              {% endfor %}

            </ul>
            {% endif %}
          </div>
        </div>
        <h5 class="mb-0" style="color: black;">Instructions</h5>
        {% if contents %}
        <p>{{contents}}</p>
        {% endif %}
      </div>
    </section>
  <footer class="footer">
    <div class="container">
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; 2018
            <a href="" target="_blank">Vivum NPS HSR</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Core -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/popper/popper.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/vendor/headroom/headroom.min.js' %}"></script>
  <!-- Argon JS -->
  <script src="{% static 'assets/js/argon.js' %}"></script>
</body>

</html>